body {
    position: absolute;
    margin: 0px !important;
}

#back {
    position: absolute;
    left: center;
    background-color: darkgray;
    width: 1153px;
    height: 860px;
}

#list {
    position: relative;
    text-align: center;
    background-color: white;
    top: 15px;
    left: 350px;
    width: 450px;
    height: 800px;
    padding: 8px;
    border: 2px solid darkred;
    border-radius: 25px;
}

hr {
    border: none;
    background-color: darkgrey;
    height: 2px;
}

#radio1 {
    position: absolute;
    left: 170px;
}

#radio2 {
    position: absolute;
    left: 230px;
}

ul {
    text-align: left;
}

a {
    position: relative;
    margin: 10px;
}